[tools]
age = "latest"
dapr = "latest"
direnv = "latest"
flux2 = "latest"
k3d = "latest"
kubectl = "latest"
pipx = "latest"
python = { version='3', virtualenv='.venv' }
sops = "latest"
uv = "latest"

[settings]
experimental = true
python.uv_venv_auto = true

[env]
# Use the project name derived from the current directory
PROJECT_NAME = "{{ config_root | basename }}"
# Automatic virtualenv activation
_.python.venv = { path = ".venv", create = true }

LC_ALL = "en_US.UTF-8"
LC_CTYPE = "en_US.UTF-8"
SECRET_KEY="{{ exec(command='python3 -c \"import os, base64; print(base64.b64encode(os.urandom(128)).decode())\"') }}"
HISTIGNORE="ls:ps:history:htop:df:lens:source:lens-desktop"

[tasks.stress-test]
description = "Run end-to-end stress tests using Locust"
alias = "st"
run = [
  "echo 'Running end-to-end stress tests against Identity service...'",
  "uv run locust -f tests/extra/locustfile.py -u 500 -r 10 --host=http://localhost:8000"
]
